.container {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100%;
  display: grid;
  grid-template-columns: 55% auto;
}

.left {
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  height: 100vh;
  background-color: var(--primary-color);
}

.right {
  padding: 0.8rem;
  background-color: var(--light-color);
  width: 100%;
  height: 100vh;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  display: grid;
  grid-template-rows: auto auto;
}

.right #logo {
  top: 1rem;
  max-width: 252px;
  max-height: 89px;
}

.right h1 {
  color: var(--dark-color);
  line-height: 3.2rem;
}

.right .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.form {
  background: var(--light-color);
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}


.form button:hover {
  background: #03512b;
}

.mensagem {
  min-height: 1.4rem;
  text-align: center;
  font-size: 0.9rem;
  color: var(--dark-color);
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    /* opcional, mas ajuda se .left não sumir */
  }

  .left {
    display: none;
  }

  .right {
    width: 100%;
    padding: 1.5rem;
  }

  .form {
    width: 100%;
  }

  h1 {
    font-size: 1.5rem;
  }
}