.shortcut-button {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    min-width: 0;
    aspect-ratio: 1;

    border: 1px solid;
    border-color: rgba(216, 228, 233, 0.4) rgba(192, 203, 205, 0.4) rgba(167, 199, 203, 0.4) rgba(219, 225, 227, 0.4);
    background-color: var(--light-color);
    border-radius: .6rem;
    box-shadow: 0px 3px 3px 0px var(--dark-color-20);
    color: var(--dark-color);
    transition: 0.2s;
    text-decoration: none;
}

.shortcut-button:hover {
    transform: scale(105%);
    box-shadow: 0px 8px 8px 0px var(--dark-color-40);
}

.shortcut-name {
    /* position: absolute;
    bottom: 0; */

    color: var(--dark-color);
    width: 90%;
    margin-top: .2rem;
    margin-bottom: .2rem;
    font-size: x-large;

    /* display: inline-block; */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    height: calc(1.2em * 2);
    line-height: 1.2;
}

.shortcut-icon {
    width: 100%;
    height: 100%;
    /* padding: 1rem; */
    border-radius: .6rem .6rem 0 0;
    object-fit: fill;
    /* display: block; */
}

/* 1920px */
@media (max-width: 120rem) {
    .shortcut-button span {
        font-size: large;
    }
}

/* 1440px */
@media (max-width: 83.9rem) {

    .shortcut-button span {
        padding-top: 0;
        padding-bottom: 0;
        font-size: larger;
    }
}

/* 1126.4px */
@media (max-width: 70.4rem) {

    .shortcut-button span {
        font-size: large;
    }
}

/* 3 colunas */
@media (max-width: 56.9rem) {
    .shortcut-button span {
        font-size: medium;
    }
}

@media (max-width: 43.4rem) {

    .shortcut-button span {
        font-size: small;
    }
}

@media (max-width: 29.9rem) {
    .shortcut-button span {
        font-size: smaller;
    }
}