@import url('https://fonts.googleapis.com/css?family=Poppins');


* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    height: 100%;
    width: 100%;
    margin: 0;
    max-width: none;

    --primary-color: #006434;
    --secondary-color: #eba713;
    --light-color: rgb(255, 255, 255);
    --light-color-numbers: 255, 255, 255;
    --light-secondary-color: #E7ECEF;
    --dark-color: #272932;
    --dark-color-20: #27293220;
    --dark-color-40: #27293240;
}