.spinner {
    width: 2.5rem;
    height: 2.5rem;
    border: 3px solid #ddd;
    border-top-color: var(--primary-color);
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
}

#small {
    width: 1.75rem;
    height: 1.75rem;
}

#large {
    width: 3.25rem;
    height: 3.25rem;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}